.mixin.out
assets
crash-reports
downloads
fonts
journeymap
library
libraries
logs
local
resourcepacks
screenshots
shaderpacks
valkyrielib
woot
crattweaker.log
minscraftinstance.json
realms_persistence.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
saves
options.txt
optionsof.txt
eula.txt
forge-1.12.2-14.23.5.2807-universal.jar
minecraft_server.1.12.2.jar
minemenu
server.jar
server.properties
TombManyGraves