.mixin.out
assets
crash-reports
downloads
fonts
hourneymap
library
logs
resourcepacks
screenshots
shaderpacks
valkyrielib
woot
crattweaker.log
jvm arguments.txt
minscraftinstance.json
realms_persistence.json
usercache.json
usernamecache.json
WailaErrorOutput.txt
saves
